.scrollToTop {
  position: fixed;
  bottom: 10px;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  background-color: #20c25b;
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.3s ease;
  animation: slideUp 0.5s ease-out;
}

.scrollToTop:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}



@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 600px) {
  .scrollToTop {
    width: 30px;
    height: 30px;
    font-size: 16px;
    /* bottom: 50px; */
    border-radius: 8px;
  }
}
