.marqueeWrapper {
  background-color: var(--marquee-color);
  font-size: 4.5rem;
  color: var(--white-color);
  font-weight: 800;
  letter-spacing: 20px;
  padding: 0px 20px 100px;
}
@media (max-width: 770px) {
  .marqueeWrapper {
    font-size: 3rem;
  }
}
@media (max-width: 500px) {
  .marqueeWrapper {
    font-size: 2rem;
  }
}
@media (max-width: 400px) {
  .marqueeWrapper {
    font-size: 1.5rem;
    letter-spacing: 10px;
    padding: 10px 10px 50px;
  }
}
