.reviewCardContainer {
  border: 1px solid #525252;
  border-radius: 20px;
  background-color: var(--test-card);
  padding: 15px 30px 15px 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 300px;
  margin-bottom: 10px;
}
.cardHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.cardImage {
  border-radius: 50%;
  border: 2px solid var(--purple-button-color);
  padding: 6px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.cardImage img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.cardImage:hover {
  transform: scale(1.1);
}
.cardHeaderText {
  color: var(--white-color);
}
.cardName {
  font-size: 16px;
  font-weight: 700;
}
.cardUserName {
  font-size: 14px;
  font-weight: 500;
  color: var(--purple-button-color);
}
.cardFooter {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.rating {
  display: flex;
  gap: 5px;
}
.rating img {
  width: 15px;
}
.cardDetail {
  max-width: 250px;
}
.cardDetail p {
  font-size: 14px;
  color: var(--white-color);
  font-weight: 500;
}

@media (max-width: 600px) {
  .reviewCardContainer {
    border-radius: 15px;
    padding: 10px 20px 10px 10px;

    gap: 10px;
    height: 280px;
    margin-bottom: 7px;
  }
  .cardHeader {
    gap: 7px;
  }
  .cardImage img {
    width: 30px;
    height: 30px;
  }

  .cardName {
    font-size: 14px;
  }

  .cardDetail {
    max-width: 150px;
  }
  .cardDetail p {
    font-size: 12px;
  }
}
