.resumeContainer {
  padding: 20px 8% 20px;
  background-color: var(--skill-bg);
  backdrop-filter: blur(10px) brightness(1.1);
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.resume_top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.skillBoxContainer {
  max-width: 1400px;
  width: 100%;
}
.skillHeading {
  font-size: 4rem;
  color: var(--white-color);
  font-weight: 800;
  text-align: center;
}
.gradText {
  background: #3f5efb;
  background: radial-gradient(
    circle,
    var(--gradient-blue) 0%,
    var(--gradient-pink) 100%
  );
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.skillText {
  /* max-width: 700px; */
  position: relative;
  padding: 30px 0px;
}
.skillText p {
  color: var(--white-color);
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  text-align: center;
}

.resumeBtns {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}
.resumeBtn {
  padding: 10px 20px;
  border-radius: 15px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.resumeBtn:hover {
  transform: translateY(-10px);
}
.resumeBtn i {
  margin-right: 10px;
}
.downloadBtn {
  background-color: var(--purple-button-color);
}
.newTabBtn {
  border: 1px solid var(--not-active-btn);
  background-color: var(--resume-btn);
  color: var(--white-color);
}
.resumedown {
  margin-top: 50px;
}
.boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 50px;
}
.box {
  border-radius: 15px;
  border: 1px solid var(--not-active-btn);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  background-color: var(--resume-box);
}
.box i {
  font-size: 28px;
  color: var(--purple-button-color);
  font-weight: 500;
}
.box p {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-secondary);
}
.box p:first-of-type {
  color: var(--white-color);
  font-weight: 800;
}
.resumedown {
  display: flex;
  flex-direction: column;
}
.connectBox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.connectBoxdata {
  border-radius: 20px;
  border: 1px solid var(--not-active-btn);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: var(--resume-box);
  width: 280px;
  min-width: 200px;
  margin-top: 40px;
  padding: 30px;
}
.connectBox p {
  color: var(--white-color);
  font-weight: 600;
  font-size: 14px;
}
.connectBtn {
  background-color: var(--purple-button-color);
  padding: 10px 15px;
  border-radius: 10px;
  max-width: 200px;
}
@media (max-width: 600px) {
  .skillHeading {
    font-size: 2rem;
  }
}
@media (max-width: 500px) {
  .skillText p {
    font-size: 14px;
  }
  .resumeBtns {
    flex-direction: column;
  }
}
