.aboutData {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 10px 0px 30px;
}
.aboutHeading {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 950px) {
  .aboutData {
    justify-content: space-between;
  }
}
@media (max-width: 850px) {
  .aboutData {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width:500px) {
  .aboutData{
    padding: 10px 30px 30px;
  }
}