.toggleBtn i {
  color: var(--text-secondary);
  cursor: pointer;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.toggleBtn i:hover {
  color: var(--text-secondary);
}
@media (max-width: 650px) {
  .toggleBtn i {
    font-size: 1.5rem;
  }
}
