.globeContainer {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 500px; /* max-w-lg = 32rem = 512px */
  height: 330px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 12px;
  background-color: transparent; /* or your background color */
  /* padding: 20px 80px 80px 80px; */
}