.navButtons ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: var(--text-secondary);
  font-weight: 600;
}
.navButtons ul li {
  cursor: pointer;
  padding: 8px 13px;
  margin: 0px 2px;
  transition: all 0.3s ease;
  border-radius: 12px;
}
.navButtons ul li:not(.activeLink li):hover {
  background-color: var(--not-active-btn);
  backdrop-filter: blur(10px) brightness(1.1);
  color: #fff;
}
.activeLink li {
  background-color: var(--purple-button-color);
  color: white;
  position: relative;
}

.activeLink li::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 30px;
  background: linear-gradient(
    to bottom,
    var(--glow-purple-start) 0%,
    var(--glow-purple-mid) 50%,
    transparent 100%
  );
  filter: blur(15px);
  z-index: -1;
  pointer-events: none;
}
